body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    background: #1d1d1d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h1{
        font-size: 80px;
    }
}