$bg: linear-gradient(180deg, rgba(5, 102, 141, 0.8) 0%, rgba(5, 102, 141, 1) 100%);
$white: #fff;
$black: #000;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "FIBRE";
  src: url("src/assets/fonts/fibre-font.otf");
}
body {
  background: $bg;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $white;
}

.app--container {
  padding-inline: 1rem;
  padding-block: 4rem;
  .header {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    h2 {
      font-size: 4rem;
      font-family: "FIBRE";
      margin-bottom: 1rem;
    }
    p {
      color: rgba($color: $white, $alpha: 0.5);
      line-height: 1.5;
    }
  }
  .card--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    .card {
      width: 100%;
      height: 40vh;
      background: wheat;
      border-radius: 16px;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .card--description {
        // background: #fff;
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 50%;
        color: $black;
        padding: 2rem 1rem;
        z-index: 1;
        transition: 0.4s ease-in-out;
        &::after {
          box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.5);
          content: "";
          width: 100%;
          height: 100%;
          background: $white;
          position: absolute;
          transform: skewY(4deg);
          transform-origin: left bottom;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: 16px 16px 0 0;
        }
        h3 {
          text-transform: uppercase;
          font-family: 1.8rem;
          margin-bottom: 0.5rem;
          font-weight: 400;
        }
        p {
          width: 90%;
          color: rgba($color: $black, $alpha: 0.5);
          margin-bottom: 1rem;
        }
        .card--footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-weight: 600;
          }
          .card--rate {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            svg {
              color: gold;
            }
          }
        }
      }
      &:hover {
        .card--description {
          bottom: 0;
        }
      }
    }
  }
  .pagination--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      color: rgba($color: $white, $alpha: 0.5);
    }
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0;
    gap: 1.5rem;
    .Pagination--item {
      width: 3rem;
      height: 3rem;
      border: 2px solid $white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      border-radius: 16px;
      cursor: pointer;
      &.active {
        background: $white;
        color: $black;
      }
    }
  }
}

@media (min-width: 1024px) {
  .app--container {
    padding-inline: 6rem;
    .header {
      width: 60%;
    }
    .card--container {
      .card {
        width: calc((100% / 2) - 1.5rem);
      }
    }
  }
}

@media (min-width: 1200px) {
  .app--container {
    .card--container {
      .card {
        width: calc((100% / 3) - 1.5rem);
      }
    }
  }
}
@media (min-width: 1400px) {
  .app--container {
    .card--container {
      .card {
        width: calc((100% / 4) - 1.5rem);
      }
    }
  }
}
