.mobileMenu {
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  position: fixed;
  top: -100%;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  &.active {
    top: 0;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 3;
    a {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      color: rgba($color: $white, $alpha: 0.5);
      &.active {
        color: rgba($color: $white, $alpha: 1);
        display: inline-block;
        position: relative;
      }
    }
  }
}
